@media screen and (max-width: 800px) {
  .theDisplay {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .theDisplay {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .theDisplay > .botuniinput {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .theDisplay > .botuniinput {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .input-botun .input {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .botuniinput > .input-botun {
    position: relative;
    left: 95px;
  }
}
@media screen and (max-width: 500px) {
  .botuniinput > .input-botun {
    position: relative;
    left: 55px;
  }
}

@media screen and (max-width: 800px) {
  .show-and-close-botun {
    position: relative;
    left: 250px;
  }
}

@media screen and (max-width: 600px) {
  .show-and-close-botun {
    position: relative;
    left: 180px;
  }
}
@media screen and (max-width: 800px) {
  .getEmojiButton {
    left: 30px;
  }
}
@media screen and (max-width: 600px) {
  .getEmojiButton {
    left: 10px;
    bottom: 80px;
    opacity: 0.4;
  }
}

body {
  box-sizing: content-box;
  background-color: rgb(211, 211, 211, 0.8);
}

/* Header */
.header {
  display: block;
  padding: 10px;
  background-color: lightblue;
}
.header-text {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 17px;
}

/* Main DIV */

.theDisplay {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 855px;
  overflow-y: auto;
}
