@media screen and (max-width: 800px) {
  .theDisplay {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .theDisplay {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .theDisplay > .botuniinput {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .theDisplay > .botuniinput {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .input-botun .input {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .botuniinput > .input-botun {
    position: relative;
    left: 95px;
  }
}
@media screen and (max-width: 500px) {
  .botuniinput > .input-botun {
    position: relative;
    left: 55px;
  }
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentUser {
  flex-direction: row-reverse;
  text-align: right;
}

/* Header */
.header {
  display: block;
  padding: 10px;
  background-color: lightblue;
}
.header-text {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 17px;
}

.Message-content {
  word-break: break-all;
  width: fit-content;
}
.text {
  font-size: 18px;
  border-radius: 8px;
  padding: 2px;
}

/* Glavni DIV */
.theDisplay {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 855px;
  /* border: 2px solid black; */
  overflow-y: auto;
}

.botuniinput {
  border: 2px solid #000000;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 8px;
  position: fixed;
  width: 103.5vh;
  bottom: 10px;
}
.input-botun {
  position: relative;
  left: 160px;
}

.input {
  position: relative;
  bottom: -13px;
  width: 550px;
  padding: 8px;
  border: none;
  border-radius: 18px;
}
.botun-botun {
  position: relative;
  bottom: -13px;
  padding: 5px;
  left: 10px;
  border-radius: 5px;
  border: none;
}

.botun-botun:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(110, 0, 110, 0.5);
}

.inputText {
  position: relative;
  left: 200px;
  width: 400px;
}

.showandclosebotun {
  position: relative;
  top: -15px;
  left: 680px;
  border: none;
  background-color: white;
}

.getEmojiButton {
  position: absolute;
  bottom: 50px;
  left: 350px;
  border: none;
  margin: 0;
  cursor: pointer;
  opacity: 0.8;
}

.date {
  text-align: center;
  font-size: 20px;
}
