@media screen and (max-width: 800px) {
  .theDisplay {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .theDisplay {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .botuniinput {
    position: fixed;
    flex: auto;
    width: 10%;
  }
}

/* Glavni DIV */
.theDisplay {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 855px;
  border: 2px solid black;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.botuniinput {
  border: 2px solid blue;
  position: fixed;
  width: 103.5vh;
  bottom: 30px;
  padding: 4.3px;
}

/* Poruke, I break u njima */
.position-messages {
  /* padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  margin: 8px;
  word-break: break-all;
  width: fit-content;
  background-color: red; */
  /*  */
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.inputText {
  position: relative;
  left: 200px;
  width: 400px;
}
.botun {
  position: relative;
  left: 210px;
  border-radius: 6px;
}
